.html-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkkhaki;
    margin-top: 2.5em;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}